<h1>お知らせメール登録</h1>

<%= form_with(model: @user, local: true) do |form| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "箇所") %> のエラーがあります:</h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= "部屋番号：" %>
        <div text-align=center>
        <%= form.text_field :roomno, id: :user_roomno, :size=>4, :maxlength=>4 %><br /><br>
        </div>
        <%= "メールアドレス：" %><br>
        <%= form.email_field :mail, id: :user_email, :size=>30 %>
    </div>
    <div class="actions">
        <%= form.submit "登録"%>
    </div>
<% end %>