<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @keiji.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @keiji.end %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@keiji.category_id).label %>
</p>

<p>
  <strong>Title:</strong>
  <a href=<%= ("../" + @keiji.pdffile.url(:original)) %> target="_blank"><%= @keiji.title %></a>

</p>

<p>
  <strong>Viewcount:</strong>
  <%= @keiji.viewcount %>
</p>

<%= link_to 'Edit', edit_keiji_path(@keiji) %> |
<%= link_to 'Back', keijis_path %>
